.root{
    -fx-font-family: "Segoe UI";
}

/* Transparent panel */

.panel{
    -fx-background-color: rgba(255,255,255,0.85);
    -fx-padding: 25;
    -fx-background-radius: 10;
}

/* Dashboard background */

.dashboard{
    -fx-background-image: url("images/dashboard_bg.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

/* Input background */

.inputpage{
    -fx-background-image: url("images/farm_bg.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

/* Feedback background */

.feedbackpage{
    -fx-background-image: url("images/feedback_bg.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

/* Buttons */

.button{
    -fx-background-color: #2e8b57;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8 20 8 20;
    -fx-background-radius: 8;
}

.button:hover{
    -fx-background-color: #246b45;
}